<h1>Este es el chat!</h1>

<div class="chatContainer">

  <div class="messagesLogs" id="messagesLogs"></div>
  <div class="chatInputContainer">
    <input class="chatInput"  type="text" id="chatBox" />
  </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.socket.io/4.7.4/socket.io.min.js"></script>
<script src="js/chat.js"></script>