<div class="appbar">
  <div class="navButton">LOGO</div>
  <div class="menuButtons">
    <div id="chatNav" ><a class="navButton {{#if active.chat}}active{{/if}} " href="/api/chat">CHAT</a></div>
    <div id="productsNav" ><a class="navButton {{#if active.products}}active{{/if}}" href="/api/products_views">PRODUCTS</a></div>
    <div id="rProductsNav" ><a class="navButton {{#if active.rProducts}}active{{/if}}" href="/api/products_views/realtimeproducts">REAL TIME PRODUCTS</a></div>
  </div>
</div>